#about-us-p {
    text-align: center;
    width: 80vw;
}

#example-container{
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.example-pics{
    height: 20em;
    width: 15em;
}