*, *::before, *::after{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} 

:root {
    --primary-light-hsl: 200, 100%, 91%;
    --primary-hsl: 200, 100%, 50%;
    --primary-dark-hsl: 200, 100%, 6%;
    --success-hsl: 100, 60%, 50%;
    --error-hsl: 0, 60%, 50%;
}

.pageBody{
    height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    background-image: url('../assets/mtnPic.jpg');
    background-position: center;
    background-size: cover;
}

.searchContainer{
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: .5rem;
    padding: 30px;
    border-radius: 1.25rem;
    background-color: hsl(var(--primary-hsl), .5);
}

.searchInput{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 1.25rem;
    padding: 5px;
}

.searchInput input{
    height: 40px;
    width: 15rem;
    border: none;
    border-style:none ;
    border-radius: 1.25rem;
    font-size: 1.25rem;
    color: black;
}

.searchInput input::placeholder{
    color: black;
}

.searchInput input:focus{
    border: none;
    border-style:none;
    outline: none;
    background-color: transparent;
}

.searchInput svg{
    height: 40px;
    width: 40px;
}

.radioBtns{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.radioBtns label{
    font-size: 1.25rem;
    font-weight: lighter;
    text-shadow:0 0 20px;
    height: 65px;
    width: 7.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.radioBtns label input{
    height: 30px;
    width: 30px;
}

.requestContainer {
    height: 70vh;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.requestContainer::-webkit-scrollbar{
    display: none;
}

.catcherBody{
    height: 100vh;
    background-image: url('../assets/mtnPic.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3rem ;
}

.catcher{
    --color: 179,98%,26%;
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    color: white;
    text-shadow: 0px 0px 25px hsl(var(--color));
    font-size: 2rem;
    font-weight: lighter;
    border: solid white 2px;
    background-color: hsl(var(--primary-dark-hsl),.8);
}

.btnContainer{
    width: 40vw;
    display: flex;
    justify-content: space-around;
}

.btnContainer button{
    height: 4rem;
    width: 10rem;
    border-radius: 1.25rem;
    background-color: hsl(var(--color),.8);
    border: hsl(var(--color));
    outline: none;
    cursor: pointer;
    font-size: 1.25rem;
}

.btnContainer button:hover{
    background-color: hsl(var(--color),1);
    border: solid hsl(var(--primary-dark-hsl),1) 9px;
}