#header {
    height: 150px;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}

#hanger-pic {
    width: 200px;
}

#hanger-pic:hover {
    cursor: pointer;
}

.header-title {
    height: inherit;
    font-size: x-large;
    display: flex;
    align-items: center;
}

.header-nav {
    height: inherit;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 