.universal-body {
    height: unset;
    max-width: 100vw;
    background-color: rgba(255, 0, 0, 0.265);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 80px;
}